body{
  color: #24292E;
}
/* //typography */
.tx-subdued{
  color: rgba(110, 132, 163, 1);
}
.table{
  color: #24292E!important;
}
.tx-blackk{
  color: #12263F;
}
.tx-secondary{
  color: #6A737D;
}
.login-main{
  background: linear-gradient(116.45deg, rgba(0, 0, 0, 0.0639) 3.28%, rgba(0, 0, 0, 0.5396) 66.61%),url(../img/login-bg.png);
  background-size: cover;
  height: 100vh;
}
.logo-grey{
  color: #C4C4C4;
}
.bg-gray-50{
  background-color: #F9FAFB;
}
.dark-grey{
  color: #909090;
}
.tx-grey{
  color: #737F8D;
}
.tx-grey-600{
  color:#4B5563 ;
}
.control-height{
  height: 90vh;
}
.bg-black{
  background-color: #000!important;
}
.bg-aside{
  background-color:#E9EDF3!important ;
}
.secondary-bg{
  background-color: #F9FAFC!important;
}
.image-box{
  background: rgba(243, 244, 246, 1);
  height: 50%;
  border-radius: 5px;
}

.bg-yellow-light{
  background-color: rgba(251, 176, 55, 1);
}
.bg-orange-light{
background-color: rgba(255, 220, 163, 1);
}
.bg-brownish{
  background-color: rgba(184, 113, 0, 1);
}
.brand tr th{
  font-weight: 700!important;
}
.footer-gray{
  background-color: rgba(249, 250, 252, 1)!important;
}
.display.dataTable{
  border: none;
}
.display th, .display td{
  border-bottom: none!important;
}
.table{
  width:100%!important;
}
.table-head{
  background-color: #F9FAFC!important;
}
table.dataTable.display tr td{
  /* border-top: 0 !important; */
}
table.dataTable.no-footer{
  border-bottom: none;
}
table.dataTable thead .sorting::after{
  content: "\25BC"!important;
  color: #D2DDEC;
}
table.dataTable thead .sorting::before{
  content: "\25B2"!important;
  color: #D2DDEC;
}
table.dataTable thead .sorting_asc::after{
  content: "\25B2"!important;
  color: #D2DDEC;
}
.display tr th, .display tr td{
font-size: 12px!important;
}
.display tr th{
  font-weight: 600!important;
}
.nav-link.tab.active{
  color: #000!important;
  font-weight: 700!important;
  }
  .nav-link.active.bg{
    background-color: #DB4C3F!important;
    font-weight: 700!important;
  }
  .bg-green-50{
    background-color: #E3FCEF;
  }
  .tx-green-500{
    color: #006644;
  }
  .bg-red-50{
    background-color: #FFECEC;
  }
  .tx-red-500{
    color: #AC0B09;
  }
  .nav-line .nav-link{
    padding: 6px 15px!important;
  }
  .avatar img{
    border: 0!important;
  }
  .nav.nav-aside svg{
    margin-right: 10px;
  }
  .breadcrumb-style1 .breadcrumb-item{
    text-transform: capitalize!important;
    font-size: 14px!important;
    font-weight: 400!important;
  }
  .tx-gray-card{
    color: #6A737D;
  }
  .my-search{
    display: flex;
    align-items: stretch;
  }
  .my-search button {
    display: flex;
    align-items: center;
    padding: 0 .5rem;
    border: 1px solid #c0ccda;
    border-right-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-radius: 0.25rem;
    color: #8392a5;
    background-color: #fff;
}
.my-search .form-control {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0;
}
.bg-modal-footer{
  background-color: #F3F5F7;
}
.btn-outlined-primary:hover{
  background: #fff!important;
  border: 1px solid #d70900!important;
  box-sizing: border-box;
  box-shadow: 0px 1px 0px rgba(27, 31, 35, 0.1), inset 0px 2px 0px rgba(255, 255, 255, 0.03);
    font-weight:700;
    color: #d70900!important;
   }
   .btn-outlined-primary{
    background: #FAFBFC!important;
    color: #d70900 !important;;
    border: 1px solid rgba(27, 31, 35, 0.15)!important;
    box-sizing: border-box;
    box-shadow: 0px 1px 0px rgba(27, 31, 35, 0.04), inset 0px 2px 0px rgba(255, 255, 255, 0.25);
   }
   .nav-tabs .nav-link.cat{
    border: 1px solid#DADFE4;
    border-radius: 5px;

  }
  .nav-tabs .nav-link.cat.active{
  background-color: #F5DDDD!important;
  color: #D70900!important;
  border: 1px solid #F6ADAD;
  font-weight: 600;
  }
  .nav-tabs .nav-link.cat{
    color: #6A737D;
    background-color: #F2F5F9;
  }
  .nav-tabs .nav-link.cat.active img{
fill: #d70900!important;
-webkit-filter: invert(40%) grayscale(200%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(800%) contrast(2);

    }